# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p><p> <b>Example: 20-45961-3 Lab 02.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# User Input

In [ ]:
# Basic User Input
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: asdf
Hello, asdf!

In [ ]:
# Taking Integer Input
age = int(input("Enter your age: "))
print("You will be", age + 1, "years old next year.")

Enter your age: 23
You will be 24 years old next year.

In [ ]:
#Taking Multiple Inputs (Space-Separated)
a, b = map(int, input("Enter two numbers separated by space: ").split())
print("Sum:", a + b)

Enter two numbers separated by space: 2 3
Sum: 5

In [ ]:
# List Input from User
numbers = list(map(int, input("Enter numbers separated by space: ").split()))
print("You entered:", numbers)

Enter numbers separated by space: 1 3 4
You entered: [1, 3, 4]

In [ ]:
# Handling Invalid Input (Using Try-Except)
try:
    num = int(input("Enter a number: "))
    print("Square of the number:", num ** 2)
except ValueError:
    print("Invalid input! Please enter a valid number.")

Enter a number: w2
Invalid input! Please enter a valid number.

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# Basic if Statement
age = int(input("Enter your age: "))

if age >= 18:
    print("You are eligible to vote.")

Enter your age: 22
You are eligible to vote.

In [ ]:
#if-else Statement
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 2
The number is even.

In [ ]:
# if-elif-else Statement
marks = int(input("Enter your marks: "))

if marks >= 90:
    print("Grade: A")
elif marks >= 80:
    print("Grade: B")
elif marks >= 70:
    print("Grade: C")
elif marks >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter your marks: 33
Grade: F

In [ ]:
# Checking Multiple Conditions (and, or)
temperature = float(input("Enter the temperature: "))

if temperature > 30 and temperature < 40:
    print("It's a hot day.")
elif temperature >= 40:
    print("It's extremely hot!")
else:
    print("The weather is normal.")

Enter the temperature: 22
The weather is normal.

In [ ]:
# Nested if Statement
num = int(input("Enter a number: "))

if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("It is also even.")
    else:
        print("It is odd.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 23
The number is positive.
It is odd.

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [ ]:
#Basic for Loop
for i in range(5):
    print("Iteration:", i)

Iteration: 0
Iteration: 1
Iteration: 2
Iteration: 3
Iteration: 4

In [ ]:
# for Loop Over a List
fruits = ["Apple", "Banana", "Cherry"]

for fruit in fruits:
    print(fruit)

Apple
Banana
Cherry

In [ ]:
# Looping Through a String
word = "Python"

for char in word:
    print(char)

P
y
t
h
o
n

In [ ]:
# Looping with range(start, stop, step)
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [ ]:
# Looping Over a Dictionary
student = {"name": "Alice", "age": 20, "grade": "A"}

for key, value in student.items():
    print(key, ":", value)

name : Alice
age : 20
grade : A

In [ ]:
# Using for Loop with enumerate()
colors = ["Red", "Green", "Blue"]

for index, color in enumerate(colors):
    print(index, ":", color)

0 : Red
1 : Green
2 : Blue

In [ ]:
# Nested for Loop
for i in range(1, 4):
    for j in range(1, 4):
        print(f"i={i}, j={j}")

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

In [ ]:
# for Loop with break and continue
for num in range(1, 6):
    if num == 3:
        continue  # Skips 3
    if num == 5:
        break  # Stops loop at 5
    print(num)

1
2
4

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [ ]:
# Basic Function (No Parameters, No Return)
def greet():
    print("Hello, Welcome to Python!")

greet()  # Calling the function

Hello, Welcome to Python!

In [ ]:
# Function with Parameters
def add_numbers(a, b):
    print("Sum:", a + b)

add_numbers(5, 3)  # Output: Sum: 8

Sum: 8

In [ ]:
# Function with Return Value
def multiply(a, b):
    return a * b

result = multiply(4, 5)
print("Multiplication:", result)  # Output: 20

Multiplication: 20

In [ ]:
# Function with Default Parameter
def greet(name="Guest"):
    print("Hello,", name)

greet()          # Output: Hello, Guest
greet("Alice")   # Output: Hello, Alice

Hello, Guest
Hello, Alice

In [ ]:
# Function with Multiple Return Values
def get_square_and_cube(n):
    return n**2, n**3

square, cube = get_square_and_cube(3)
print("Square:", square, "Cube:", cube)  # Output: Square: 9, Cube: 27

Square: 9 Cube: 27

In [ ]:
# Function Using *args (Multiple Arguments)
def add_all(*numbers):
    return sum(numbers)

print(add_all(1, 2, 3, 4, 5))  # Output: 15

15

<b>Exercise 1:</b> Write a Python program to find the sum of the first N natural numbers using a for loop.<br>
Example:<br>
Input: N = 5  
Output: 15

In [1]:
N = int(input("Enter a number: "))
total = 0
for i in range(1, N + 1):
    total += i
print("Sum of first", N, "natural numbers is:", total)

Enter a number: 5
Sum of first 5 natural numbers is: 15

<b>Exercise 2:</b> Write a Python program that reverses a string using a for loop.<br>
Example: <br>
Input: "Python"  
Output: "nohtyP"

In [2]:
text = input("Enter a string: ")
reversed_text = ''
for char in text:
    reversed_text = char + reversed_text
print("Reversed string:", reversed_text)

Enter a string: Numan
Reversed string: namuN

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [4]:
def sum_lists(list1, list2):
    return [a + b for a, b in zip(list1, list2)]

list1 = [3,4,5,1]
list2 = [6,7,2,8]
print("Summed list:", sum_lists(list1, list2))

Summed list: [9, 11, 7, 9]

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [6]:
def get_first_last(full_name):
    parts = full_name.strip().split()
    return parts[0], parts[-1]

full_name = input("Enter your full name: ")
first, last = get_first_last(full_name)
print("First Name:", first)
print("Last Name:", last)

Enter your full name: Sadat Numan
First Name: Sadat
Last Name: Numan

**Do More Exercises**