# About this notebook
<p style="text-align: justify"> Here, you will learn the basic coding and data structures including numbers, strings, list, dictionaries and more. Some codes already done for demonstration. Some other codes, you will do as excercises.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, download the notebook (.pynb file) and submit the notebook  to MS Teams inbox in the class period</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing ID at the beigining of the file name. </p><p><b>Example: 20-45961-3 Lab 01.ipynb</b></p>
<p> 3. Other file format (except .pynb) or link will not be accepted.</p>

# Number

**Basic Arithmetic Operations**

In [ ]:
# Addition, Subtraction, Multiplication, Division
a = 10
b = 5

sum_result = a + b
difference_result = a - b
product_result = a * b
division_result = a / b

print(f"Sum: {sum_result}, Difference: {difference_result}, Product: {product_result}, Division: {division_result}")

Sum: 15, Difference: 5, Product: 50, Division: 2.0

**Exponentiation and Modulus**

In [ ]:
# Exponentiation (Power) and Modulus (Remainder)
base = 2
exponent = 3

power_result = base ** exponent
modulus_result = a % b

print(f"Power: {power_result}, Modulus: {modulus_result}")

Power: 8, Modulus: 0

**Floor Division**

In [ ]:
# Floor Division
floor_result = a // b   # floored division result

print(f"Floor Division: {floor_result}")

Floor Division: 2

**Absolute Value and Rounding**

In [ ]:
# Absolute Value and Rounding
negative_number = -7.5

absolute_value = abs(negative_number)
rounded_value = round(negative_number)

print(f"Absolute Value: {absolute_value}, Rounded Value: {rounded_value}")

Absolute Value: 7.5, Rounded Value: -8

**Using the math module for advanced number operations**

In [ ]:
import math

# Square root, Factorial, and Trigonometric functions
square_root = math.sqrt(16)
factorial_result = math.factorial(5)
sin_value = math.sin(math.radians(30))

print(f"Square Root: {square_root}, Factorial: {factorial_result}, sin(30 degrees): {sin_value}")

Square Root: 4.0, Factorial: 120, sin(30 degrees): 0.49999999999999994

**Random Number Generation**

In [ ]:
import random

# Generate a random number between 1 and 100
random_number = random.randint(1, 100)
print(f"Random Number: {random_number}")

# Generate a random float between 0 and 1
random_float = random.random()
print(f"Random Float: {random_float}")

Random Number: 33
Random Float: 0.8776058395001001

<b>Note:</b> A cell in Python will only display the value of the last expression. If you want to output other values, you should use the *print()* function.

# Object types
The basic object types are Numbers, Strings, Lists, Dictionaries, Tuples, Files and Other types (Sets, types, None, Booleans etc.)

**Integer and Float**

In [ ]:
a=10.5
b=6

In [ ]:
# Checking the type of an object
print(type(a))
print(type(b))

<class 'float'>
<class 'int'>

**String**

In [ ]:
# Concatenation
greeting = "Hello, "
name = "Alice"
message = greeting + name  # Combine strings
print(message)

Hello, Alice

In [ ]:
# Repetition
repeat_string = "Hi! " * 3
print(repeat_string)

Hi! Hi! Hi!

In [ ]:
# Slicing
text = "Hello, World!"
substring = text[7:12]  # Extract substring
print(substring)

World

In [ ]:
# Changing case
text = "hello"
upper_case = text.upper()  # Convert to uppercase
lower_case = text.lower()  # Convert to lowercase
print(upper_case)
print(lower_case)

HELLO
hello

In [ ]:
# Stripping whitespace
text = "   Hello, World!   "
stripped_text = text.strip()  # Removes spaces from both ends
print(stripped_text)

Hello, World!

In [ ]:
# Finding substring
text = "Hello, World!"
index = text.find("World")  # Returns the index where "substring" starts
print(index)

7

In [ ]:
# Replacing substring
text = "Hello, World!"
new_text = text.replace("World", "Python")
print(new_text)

Hello, Python!

In [ ]:
# Checking substring existence
text = "Hello, World!"
contains_hello = "Hello" in text
contains_python = "Python" in text
print(contains_hello)
print(contains_python)

True
False

In [ ]:
# String length
text = "Hello, World!"
length = len(text)
print(length)

13

In [ ]:
# Splitting string
text = "apple,banana,orange"
fruits = text.split(",")  # Split by comma
print(fruits)

['apple', 'banana', 'orange']

In [ ]:
# Joining strings
fruits = ['apple', 'banana', 'orange']
joined_fruits = ", ".join(fruits)
print(joined_fruits)

apple, banana, orange

In [ ]:
# String formatting
name = "Alice"
age = 25
formatted_string = f"My name is {name} and I am {age} years old."
print(formatted_string)

My name is Alice and I am 25 years old.

In [ ]:
# Checking start or end
text = "Hello, World!"
starts_with_hello = text.startswith("Hello")
ends_with_world = text.endswith("World!")
print(starts_with_hello)
print(ends_with_world)

True
True

In [ ]:
# Counting occurrences
text = "banana"
count_a = text.count("a")
print(count_a)

3

In [ ]:
# Checking if alphabetic
text = "Hello"
is_alpha = text.isalpha()
print(is_alpha)

text = "Hello123"
is_alpha = text.isalpha()
print(is_alpha)

True
False

In [ ]:
# Negative index example
text = "Hello, World!"
last_char = text[-1]  # Last character
print(last_char)

!

In [ ]:
# Negative index slicing
substring = text[-6:-1]
print(substring)

World

In [ ]:
# Reversing string
reversed_text = text[::-1]  # Reverse the entire string
print(reversed_text)

!dlroW ,olleH

In [ ]:
# Slicing with negative step
reversed_substring = text[-7:-1:2]  # Start from index -7, stop at index -1, step by 2
print(reversed_substring)

 ol

**List**

In [ ]:
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# Accessing list elements
first_fruit = fruits[0]
print(first_fruit)

last_fruit = fruits[-1]  # Last element
print(last_fruit)

apple
cherry

Like strings (and all other built-in sequence types), lists can be indexed and sliced:

In [ ]:
# Slicing a list
sublist = fruits[1:3]  # Elements from index 1 to 2
print(sublist)

['banana', 'cherry']

In [ ]:
# Appending an element
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Inserting an element
fruits.insert(1, "grape")  # Insert "grape" at index 1
print(fruits)

['apple', 'grape', 'banana', 'cherry', 'orange']

In [ ]:
# Removing by value
fruits.remove("banana")
print(fruits)

# Removing by index
removed_fruit = fruits.pop(2)  # Removes element at index 2
print(removed_fruit)
print(fruits)

['apple', 'grape', 'cherry', 'orange']
cherry
['apple', 'grape', 'orange']

In [ ]:
# Finding the index of an element
index_of_grape = fruits.index("grape")
print(index_of_grape)

1

In [ ]:
# Checking existence of an element
exists = "apple" in fruits
print(exists)

exists = "banana" in fruits
print(exists)

True
False

In [ ]:
# Getting the length of the list
length = len(fruits)
print(length)

3

In [ ]:
# Sorting a list
fruits = ["orange", "banana", "apple", "grape"]
fruits.sort()
print(fruits)

['apple', 'banana', 'grape', 'orange']

In [ ]:
# Reversing a list
fruits.reverse()
print(fruits)

['orange', 'grape', 'banana', 'apple']

In [ ]:
# List comprehension
numbers = [1, 2, 3, 4, 5]
squared_numbers = [n ** 2 for n in numbers]
print(squared_numbers)

[1, 4, 9, 16, 25]

In [ ]:
# Extending a list
more_fruits = ["kiwi", "melon"]
fruits.extend(more_fruits)
print(fruits)

['orange', 'grape', 'banana', 'apple', 'kiwi', 'melon']

In [ ]:
# List with different data types in nested lists
mixed_nested_list = [[1, "apple", 3.14], [True, "banana", None], [False, 42, "hello"]]

# Accessing elements
print(mixed_nested_list[0])
print(mixed_nested_list[1][1])
print(mixed_nested_list[2][2])

# Modifying an element in the nested list
mixed_nested_list[2][0] = True
print(mixed_nested_list)

[1, 'apple', 3.14]
banana
hello
[[1, 'apple', 3.14], [True, 'banana', None], [True, 42, 'hello']]

Lists also support operations like concatenation

In [ ]:
# Two lists to concatenate
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenating the lists
result = list1 + list2
print(result)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

**Dictionary**
<p style="text-align: justify">Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys.</p>

<p style="text-align: justify">It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.</p>

In [ ]:
# Using curly braces
person = {"name": "John", "age": 25, "city": "New York"}

# Using dict() constructor
person2 = dict(name="Jane", age=30, city="Los Angeles")

print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
# Accessing a value using a key
print(person["name"])
print(person2["age"])

# Using get() method (safe way to access values)
print(person.get("city"))
print(person.get("country", "Not found"))

John
30
New York
Not found

In [ ]:
# Adding a new key-value pair
person["country"] = "USA"
print(person)

# Updating an existing key-value pair
person["age"] = 26
print(person)

{'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}
{'name': 'John', 'age': 26, 'city': 'New York', 'country': 'USA'}

In [ ]:
# Using del to remove a key-value pair
del person["city"]
print(person)

# Using pop() to remove a key-value pair and get the value
age = person.pop("age")
print(person)
print(age)

# Using popitem() to remove and return the last key-value pair
last_item = person.popitem()
print(person)
print(last_item)

{'name': 'John', 'age': 26, 'country': 'USA'}
{'name': 'John', 'country': 'USA'}
26
{'name': 'John'}
('country', 'USA')

In [ ]:
# Checking if a key exists
print("name" in person)
print("age" in person)

True
False

In [ ]:
# Iterating over keys
for key in person:
    print(key)

# Iterating over values
for value in person.values():
    print(value)

# Iterating over key-value pairs
for key, value in person.items():
    print(key, value)

name
John
name John

**Tuples and Sets**
<br>Use the content from [here](https://docs.python.org/3/tutorial/datastructures.html#tuples-and-sequences) to follow some examples on tuple and set.

In [7]:
fruits = ("apple", "banana", "mango")
print("First fruit in tuple:", fruits[0])

colors = {"red", "green", "blue", "red"}
print("Colors in set:", colors)

First fruit in tuple: apple
Colors in set: {'red', 'green', 'blue'}

<b> Exercise 1:</b> Implement stack using list
<p><b>Hints:</b> The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved (“last-in, first-out”). To add an item to the top of the stack, use append(). To retrieve an item from the top of the stack, use pop() without an explicit index</p>

In [5]:
stack = []

stack.append('A')
stack.append('B')
stack.append('C')

print(stack)

x = stack.pop()
print("Popped:", x)

print(stack)

if stack:
    print("Top:", stack[-1])
else:
    print("Stack is empty")

print("Size:", len(stack))

['A', 'B', 'C']
Popped: C
['A', 'B']
Top: B
Size: 2

<b> Exercise 2:</b> Implement queue using list
<p><b>Hints:</b> It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”)</p>

In [2]:
class Queue:
    def __init__(self):
        self.queue = []

    def enqueue(self, item):
        self.queue.append(item)
        print(f"{item} added to the queue.")

    def dequeue(self):
        if not self.is_empty():
            item = self.queue.pop(0)
            print(f"{item} removed from the queue.")
            return item
        else:
            print("Queue is empty.")
            return None

    def peek(self):
        if not self.is_empty():
            return self.queue[0]
        else:
            print("Queue is empty.")
            return None

    def is_empty(self):
        return len(self.queue) == 0

    def size(self):
        return len(self.queue)

    def display(self):
        print("Current Queue:", self.queue)

my_queue = Queue()
my_queue.enqueue("Apple")
my_queue.enqueue("Banana")
my_queue.enqueue("Cherry")
my_queue.display()

my_queue.dequeue()
my_queue.display()

print("Front of queue:", my_queue.peek())
print("Is queue empty?", my_queue.is_empty())
print("Size of queue:", my_queue.size())

Apple added to the queue.
Banana added to the queue.
Cherry added to the queue.
Current Queue: ['Apple', 'Banana', 'Cherry']
Apple removed from the queue.
Current Queue: ['Banana', 'Cherry']
Front of queue: Banana
Is queue empty? False
Size of queue: 2

<b> Exercise 3:</b> Define a dictionary to store the details of 3 persons. Also, print some data from the dictionary.
 <p><b>Hint:</b> You may require nesting dictionary, lists, string inside the dictionary.</p>

In [4]:
people = {
    "people1": {
        "name": "Nazmus",
        "age": 20,
        "hobbies": ["reading", "painting"],
        "city": "Dhaka"
    },
    "people2": {
        "name": "Sadat",
        "age": 21,
        "hobbies": ["cycling", "gaming"],
        "city": "Rajbari"
    },
    "people3": {
        "name": "Numan",
        "age": 22,
        "hobbies": ["music", "traveling"],
        "city": "Pangsha"
    }
}

print("Name of people1:", people["people1"]["name"])
print("Age of people2:", people["people2"]["age"])
print("Hobbies of people3:", people["people3"]["hobbies"])
print("City of people1:", people["people1"]["city"])

Name of people1: Nazmus
Age of people2: 21
Hobbies of people3: ['music', 'traveling']
City of people1: Dhaka

# You may add more examples by yourself below

In [ ]:
#CODE